<div class="center hero-unit">
  <h1>Welcome to KAIRI!</h1>

  <h2>
    The premier site for awesomeness.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>